$color-primary: #E58E00;
$color-secondary: #27AFC9;
$color-accent: #FFBB02;
$color-text: #333;
$color-light: #B0A6A5;
$color-dark: #6D5C55;
$color-white: #FFFFFF;      

$fuente-base: 'Montserrat', sans-serif;
$fuente-logo: Tahoma;
$fondo-image: url(../img/branding_fondo.jpg);
$shadow: 1px 2px 5px $color-dark;