@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/base' as *;

.hero {
    background-color: $color-secondary;
    padding: 2rem;
    @include flex-center;
    
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 700px;
    }
    &__image {
        width: 300px;
        object-fit:cover;
        border-radius: 50%;
    }
    &__title {
        font-family: $fuente-logo;
        display: none;
    }
    &__slogan {
        font-family: $fuente-base;
        font-size: 2.5rem;
        font-style: italic;
        text-align: center;
        color: $color-white;
        text-shadow: 0px 4px 8px $color-dark;
    }
}