@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/base' as *;

.about {
    background-color: $color-light;
    padding: 0.5rem 3rem;
    color: $color-text;
    text-align: center;
    flex-direction: column;
    @include flex-center;
    

    &__title {
    font-family: $fuente-logo;
    font-size: 1.1rem;
    background: $color-white;
    border-radius: 50px;
    padding: 0;
    margin: 0;
    line-height: 0;
    width: 500px;
}
    &__subtitle {
    width: 500px;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: $color-white;
}
    &__content {
    color: $color-text;
    max-width: 800px;

}
    &__content h3{
    font-family: $fuente-logo;
    text-align: left;    
}
    &__content ul{
    font-family: $fuente-base;
    list-style: none;
    text-align: left;
    line-height: 1.5;
    font-size: 1rem;
}
    &__team h3 {
    font-family: $fuente-logo;
}
    &__team ul{
    font-family: $fuente-base;
    list-style: none;
    text-align: left;
    line-height: 2;
    font-size: 1rem;
}
}